
.nav{
    background-color: dimgrey;
    color: white;
    display: flex;
    justify-content: space-between;
    font-family: Roboto;
}

.nav-title{
    margin-left: 15px;
}

.nav-links{
    list-style-type: none;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 10px;
    margin-right: 10px;
}

.active{
    font-weight: bold;
}

.btn{
    background-color: cyan;
    box-shadow: black 2px 2px;
    color: black;
}

li{
    margin: 10px;
}

a{
    text-decoration: none;
    color: white;
}

